body,h1,h2.input,button{
    margin: 0;
    padding: 0;
}
/* global styles*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header{
    display: flex;
    justify-content: center; 
    align-items: center;  
    max-width: 960px; 
    margin: 0 auto; 
    background-color:rgb(154, 203, 214);
    color: rgb(101, 22, 22);
    text-align: center;
    padding: 1rem;
}

main{
    padding: 2rem;
    text-align: center;
}
footer{
    display: flex;
    justify-content: center; 
    align-items: center;  
    max-width: 960px; 
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(158, 207, 221);
    color: rgb(45, 63, 119);
}
/*forms*/
.signup-form, .signin-form{
    max-width: 300px;
    margin: 0 auto;
}
label{
    display:block;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
button{
    display: inline-block;
    padding: 8px;
    background-color: darkolivegreen;
    color: rgb(17, 17, 126);
    border:none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(240, 152, 152);
}